body {
    padding: 5px;

}

/* * {
    border: 1px solid red;
} */

h1 {
    display: flex;
    justify-self: center;
}

main {
    display: flex;
    justify-content: center;   
    width: 100%;
}

.description {
    display: flex;
    height: 100px;
    overflow-y: scroll;
}